---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import { dataPdfs } from "../data/documentos.js";
import PdfCard from "../components/PdfCard.astro";

---

<Layout>
  <section class="grid-pdfs">
   {dataPdfs.map((item) =>(
    <PdfCard
    {...item}
    ></PdfCard>
   ))}    
  </section>
</Layout>
