---
import SiteFooter from "../components/SiteFooter.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SiteNav from "../components/SiteNav.astro";
import "../styles/global.css";
import EmailModal from "../components/EmailModal.astro";

interface Props {
  title?: string; // '?' => title es opcional
}
const { title = "Portal de Descargas" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Descarga de manuales técnicos y fichas de datos de automatización industrial. Todos los PDF en un solo lugar."
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <SiteNav />
    <SiteHeader title={title} />
    <main class="content">
      <slot />
    </main>
    <EmailModal />
    <script>
      import "../scripts/modal.ts";
    </script>
  </body>
</html>
