---

---

<dialog id="download-modal" class="modal">
  <div class="modal-content">
    <button id="close-modal" class="close-btn">&times;</button>
    <h2>Descarga Gratuita</h2>
    <p>Introduce tu email para iniciar la descarga de <strong><span id="pdf-name">este documento</span></strong>.</p>
    
    <form id="email-form">
      <input type="email" required placeholder="tu@email.com" class="email-input" />
      <button type="submit" class="btn-primary btn-full">Descargar</button>
    </form>
  </div>
</dialog>
